.htaccess
.DS_Store
**/.DS_Store


# Ignore specific files
aff.php
affiliates.php
announcements.php
announcementsrss.php
banned.php
cart.php
clientarea.php
configuration.php
configuressl.php
contact.php
creditcard.php
dist.loghandler.php
dl.php
dologin.php
domainchecker.php
downloads.php
index.php
init.php
knowledgebase.php
link.php
login.php
logout.php
networkissues.php
networkissuesrss.php
pwreset.php
register.php
serverstatus.php
submitticket.php
supporttickets.php
unsubscribe.php
upgrade.php
viewemail.php
viewinvoice.php
viewquote.php
viewticket.php
whois.php


# Ignore folders
/admin/
/assets/
/attachments/
/crons/
/downloads/
/feeds/
/lang/
/mywhmcs/
/oauth/
/resources/
/status/
/templates/
/templates_c/
/vendor/

# Ignore folder contents
/admin/*.php
/assets/*.php
/attachments/*.php
/crons/*.php
/downloads/*.php
/feeds/*.php
/lang/*.php
/mywhmcs/*.php
/oauth/*.php
/resources/*.php
/status/*.php
/templates/*.php
/templates_c/*.php
/vendor/*.php



/includes/*.php
/includes/api





# Modules
/modules/index.php
/modules/autoload.php
/modules/widgets/
/modules/support/
/modules/reports/
/modules/security/
/modules/notifications/
/modules/registrars/
/modules/mail/
/modules/gateways/
/modules/fraud/
/modules/servers/



# Module Addons
/modules/addons/index.php
/modules/addons/staffboard/
/modules/addons/mailchimp/
/modules/addons/paypal_addon/
/modules/addons/project_management/
/modules/addons/licensing/
/modules/addons/google_analytics/
/modules/addons/bulkpricingupdater/







#config
includes/hooks/autovm/config.php
includes/hooks/index.php
includes/hooks/README.php
includes/hooks/autovm/controller.php
includes/hooks/README.txt
